.container {
  margin-top: 4px;
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 980px;
    margin: auto;
    padding: 8px;
    border: 2px solid rgba(19, 124, 189, 0.6);;
    .rightIntend {
      margin-right: 16px;
    }
    .mainPart {
      display: flex;
      flex-direction: row;
      flex: 1;  
    }
  }
}
