@import '../../../styles/vars/borders.scss';

.container {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 980px;
    margin: auto;
    padding: 8px;
    border: $containerBorder;
    .rightIntend {
      margin-right: 16px;
    }
    .mainPart {
      display: flex;
      flex-direction: row;
      flex: 1;  
    }
  }
}
