@import '../../../styles/vars/borders.scss';
@import '../../../styles/vars/backgrounds.scss';

.container {
  display: flex;
  flex-direction: row;
  width: 980px;
  margin: auto;
  padding: 8px;
  border-right: $containerBorder;
  border-left: $containerBorder;
  background: $secondary;
  .flexSection {
    flex: 1;
  }
}
