.container {
  display: flex;
  flex-direction: row;
  width: 980px;
  margin: auto;
  padding: 8px;
  border-right: 2px solid rgba(19, 124, 189, 0.6);
  border-left: 2px solid rgba(19, 124, 189, 0.6);
}
